body {
    background-color: plum;
    height: 100%;
    overflow: auto;
    
}

#left-container {
    width: calc(100px);
    height: calc(100px);
    background-color: aliceblue;
   
    
}

#scroll-container {
    width: calc(1000px);
    height: calc(100vh - 152px);
    overflow: auto;
    margin: 10px;
    border: 1px solid grey;
    background-color: white;
}
