body {
    background-color: rebeccapurple;
    height: 100%;
    overflow: auto;
    
}

#left-container {
    width: calc(100px);
    height: calc(100px);
    color: aliceblue;
    z-index: 1;
    
}

#scroll-container {
    width: calc(600px);
    height: calc(100vh - 152px);
    overflow: auto;
    margin: 10px;
    border: 1px solid grey;
    background-color: white;
}
